* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: grey;
}

header {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

header img {
    height: 36px;
    margin-right: 16px;
}

header h1 {
    font-size: 40px;
    font-weight: bold;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

form {
    display: flex;
    max-width: 640px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 56px;
}

form button {
    background-color: green;
    color: white;
    cursor: pointer;
    padding: 8px;
}

form input {
    background-color: white;
    border-bottom: 2px solid black;
    padding: 8px;
    width: 200px;
}
table {
    width: 100%;
}

table th {
    border-bottom: 2px solid black;
    padding: 16px;
    font-size: 24px;
}

tbody td {
    padding: 8px 0;
    text-align: center;
    font-size: 18px;
    border-bottom: 1px solid black;
}

tfoot td {
    padding: 8px 0;
    text-align: center;
    font-size: 18px;
    border-bottom: 1px solid black;
}

table td img {
    height: 30px;
}

.resultado {
    padding: 8px;
    font-weight: bold;
    color: white;
    background-color: black;
    border-radius: 3px;
}

.aprovado {
    background-color: green;
}

.reprovado {
    background-color: red;
}
